<div 
  class="aguayo-ribbon"
  [class.aguayo-ribbon--xs]="size() === 'xs'"
  [class.aguayo-ribbon--sm]="size() === 'sm'"
  [class.aguayo-ribbon--md]="size() === 'md'"
  [class.aguayo-ribbon--lg]="size() === 'lg'"
  [class.aguayo-ribbon--rounded]="rounded()"
  [style.height.px]="height()"
  role="presentation"
>
  <span class="aguayo-ribbon__stripe aguayo-ribbon__stripe--red"></span>
  <span class="aguayo-ribbon__stripe aguayo-ribbon__stripe--gold"></span>
  <span class="aguayo-ribbon__stripe aguayo-ribbon__stripe--olive"></span>
  <span class="aguayo-ribbon__stripe aguayo-ribbon__stripe--indigo"></span>
  <span class="aguayo-ribbon__stripe aguayo-ribbon__stripe--burgundy"></span>
  <span class="aguayo-ribbon__stripe aguayo-ribbon__stripe--brown"></span>
</div>
